@media (max-width:576px) {
  body {
    display: block;
    margin: 0px;
    font-family: "poppins", sans-serif !important;
  }

  .modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }

  .filter {
    font-size: 16px;
    font-weight: 600;
    color: #122052;
  }

  /*End bootom modal */
  .dropstart ul.dropdown-menu li:hover {
    background: #122052;
    color: white;
  }

  a {
    text-decoration: none !important;
  }

  .nav_header {
    background: #122052;
    position: fixed;
    top: 0px;
  }

  .bottom_nav {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: -1;
  }

  .logo {
    padding: 5px 10px;
  }

  /* body-style */
  .saved-img {
    width: 100%;
    max-width: 80%;
    min-height: 7vh;
    border-radius: 80px;
  }

  .saved-card {
    width: 100%;
    max-width: 80%;
    margin: auto;
  }

  .card-options {
    top: 95px;
    right: 15px;
    padding: 0px 10px;
  }

  .card-details p {
    text-align: left;
  }

  .body-card {
    padding: 203px 0px 0px;
  }

  .body-content_card i {
    width: 100%;
    font-size: 100px;
    color: #122052;
  }

  .welcome-note {
    font-size: 26px;
    font-weight: 600;
  }

  .scan-btn {
    background: #122052;
    width: 35%;
    margin: auto;
    padding: 10px 20px 11px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff !important;
    font-size: 16px;
  }

  .toogle-item .btn-secondary {
    color: #fff;
    background-color: #122052 !important;
    border-color: #122052 !important;
  }

  .dropstart .dropdown-toggle::before {
    content: none !important;
  }

  .btn-secondary:focus {
    box-shadow: none !important;
  }

  /* details-page */
  .icon {
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .detail-card-img {
    width: 100%;
    padding: 34px 10px 10px;
    background-color: #645e5eab;
  }

  .detail-card-img img {
    width: 100%;
    max-height: 220px;
  }

  .wrapper {
    height: auto;
    min-height: 120vh;
    display: flex;
  }

  .profile-card {
    width: 100%;
    max-height: 340px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    max-width: 700px;
  }

  .tabs-content .card {
    position: inherit !important;
  }

  .profile-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
  }

  .profile-card__cnt {
    text-align: center;
    padding: 20px 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
  }

  .profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #122052;
    margin-bottom: 15px;
  }

  /* tabs */
  .section-center {
    width: 95vw;
    max-width: 1170px;
    margin: auto;
    min-width: 340px;
  }

  .tabs .items {
    background: #122052;
    padding: 14px 34px 10px 34px;
    border-radius: 13px;
  }

  .text-blue {
    color: #122052;
    font-weight: 500;
  }

  .button {
    padding: 10px 12px 10px 11px !important;
    padding: 0px;
    border: none;
    font-size: 1rem;
    background: #d5c132;
    color: #000;
    font-family: vazir;
    border-radius: 20px;
    cursor: pointer;
  }

  .btn-container i {
    font-size: 20px;
  }

  /* hide content */
  .content {
    display: none;
  }

  .button.active {
    background: #ffffff;
    color: #023047;
  }

  .content.active {
    display: block;
  }

  /* offcanvas */
  .icon-color {
    color: #122052;
  }

  .offcanav-header {
    background: #122052;
    padding: 17px 0px;
  }

  .offcanav-body ul.ul-items {
    list-style-type: none;
  }

  .offcanav-body ul.ul-items li {
    color: #000;
  }

  .offcanav-body ul.ul-items li:hover {
    background: #122052;
    color: #fff !important;
  }

  .offcanav-body ul.ul-items li:hover .icon-color {
    color: #fff !important;
  }

  @keyframes hover {
    50% {
      transform: translateX(10px);
    }
  }

  .offcanvas-menu>label {
    top: 21px;
    left: 12px;
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .offcanvas-menu label span,
  .offcanvas-menu label span::before,
  .offcanvas-menu label span::after {
    transition: background 0.3s, transform 0.3s;
  }

  .offcanvas-menu label span,
  .offcanvas-menu label span::before,
  .offcanvas-menu label span::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: #b3b3b3;
  }

  .offcanvas-menu label span::before {
    transform: translateY(-12px);
  }

  .offcanvas-menu label span::after {
    transform: translateY(12px);
  }

  .offcanvas-menu nav {
    position: fixed;
    height: 100%;
    width: 250px;
    left: -350px;
    top: 0;
    overflow: hidden;
    background: #fff;
    z-index: 9;
    transition: 0.3s ease;
  }

  .offcanvas-menu nav>div label {
    height: 30px;
    display: flex !important;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .offcanvas-menu nav>div label span,
  .offcanvas-menu nav>div label span:before,
  .offcanvas-menu nav>div label span:after {
    background: #fff;
    height: 1px;
    width: 20px;
    margin-right: 32px;
  }

  .offcanvas-menu input[type=checkbox] {
    display: none;
  }

  .offcanvas-menu input[type=checkbox]:checked~label {
    opacity: 0;
    pointer-events: none;
  }

  .offcanvas-menu input[type=checkbox]:checked~nav {
    left: 0;
  }

  .offcanvas-menu input[type=checkbox]:checked~nav label span {
    background: transparent;
  }

  .offcanvas-menu input[type=checkbox]:checked~nav label span:before {
    transform: rotate(-45deg);
  }

  .offcanvas-menu input[type=checkbox]:checked~nav label span:after {
    transform: rotate(45deg);
  }

  .offcanvas-menu input[type=checkbox]:checked~nav label span:before,
  .offcanvas-menu input[type=checkbox]:checked~nav label span:after {
    transition-delay: 0.2s;
  }

  .panel-search {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .panel-search .panel-searchbox {
    position: absolute;
    top: 68%;
    left: 60%;
    z-index: 1;
    transform: translate(-108%, -260%);
    width: 290px;
    height: 30px;
    transition: all 0.4s ease-in;
  }

  .panel-search .panel-searchbox input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .panel-search .panel-searchbox.active {
    transition: all 0.4s ease-out;
    transform: translate(-108%, -60%);
  }

  .panel-search .panel-searchicon button {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bar {
    height: 75px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(51, 51, 51, 0.4);
    padding: 0 15px;
  }

  .bar.active .home {
    color: #122052;
  }

  .bar .label {
    font-size: 13px;
  }

  .els-wrap {
    align-items: center;
    background-size: 1200px;
    background-position: 100% 50%;
    color: #333333;
    padding: 0 9px;
    border-radius: 100px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    transition: width 200ms, padding 200ms, border-radius 300ms, background-position 900ms;
    transition-timing-function: ease-in-out;
  }

  .bottom_nav a:hover {
    color: #122052;
  }

  .els-wrap .icon {
    font-size: 18px;
  }

  .manual-creator-name {
    font-size: 16px;
    color: #122052;
  }

  /* create manually */
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 30px auto 0px;
  }

  .img-upload {
    position: relative;
    max-width: 205px;
  }

  .avatar-edit {
    position: absolute;
    left: 144px;
    z-index: 1;
    top: 86px;
  }

  .avatar-edit input {
    display: none;
  }

  .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #122052;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
  }

  .avatar-preview>div {
    height: 80%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #imagePreview {
    background-image: url(../images/card.JPEG);
  }

  .form-control:focus {
    box-shadow: none !important;
  }

  .manual-details .form-control {
    padding-left: 28px;
  }

  .manual-icons {
    top: 7px;
    left: 5px;
  }

  .manual-submit {
    background: #122052;
    border-radius: 6px;
  }

  .group-item {
    background: #d7d3d3;
    border-radius: 6px;
  }

  .add_group {
    position: fixed;
    padding: 8px 12px 6px 12px;
    bottom: 30px;
    right: 25px;
    background: #122052;
    color: #fff;
    border-radius: 22px;
  }

  .rescan-card,
  .add-card {
    background: #122052;
    font-size: 13px;
    border-radius: 5px;
  }

  .file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 16px !important;
    color: #fff;
    font-size: 14px;
    padding: 5px 33px;
    background-color: #122052;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  }

  /* end create manually */
  /* scanned-card */
  /* sign-up form */
  .sign_up .form-control:focus {
    border-color: #122052 !important;
    background: #d7d3d3;
  }

  .sign_up .form-control {
    background: #d7d3d3;
  }

  .field-icon {
    float: right;
    margin-top: -25px;
    position: relative;
    right: 10px;
    font-size: 14px;
    color: #122052;
  }

  .signup-text {
    color: #122052;
  }

  .signin-text {
    color: #122052;
  }

  .submit-sign {
    background: #122052;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 4px 0px;
  }

  .sign-in {
    color: #ffc107;
  }

  /* about page */
  .about__body .about__head p {
    color: #122052;
    font-size: 28px;
    font-weight: 600;
  }

  .about__footer {
    background: #122052;
  }

  /* end about */
  /* settings */
  .setting_information {
    list-style: none;
  }

  .tick {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 18px;
    top: 3px;
    border-radius: 20px;
    background: gray;
  }

  .tick:before,
  .tick:after {
    background: white;
    position: absolute;
    content: " ";
    left: 30%;
    right: 30%;
    top: 50%;
    height: 2px;
    bottom: auto;
  }

  .tick-success {
    background: #122052;
    transform: rotate(45deg);
  }

  .tick-success:after {
    height: 2px;
    bottom: 25%;
    left: 30%;
    right: 45%;
    top: auto;
  }

  .tick-success:before {
    width: 2px;
    height: auto;
    bottom: 25%;
    top: 20%;
    left: 55%;
    right: auto;
  }
  .tick1 {
    display: inline-block;
    width: 19px;
    height: 18px;
  }
  .tick1:before,
  .tick1:after {
    background: white;
    position: absolute;
    content: " ";
  }
  .tick1-success {
    transform: rotate(45deg);
  }
  .tick1-success:after {
    height: 2px;
    bottom: 25%;
    left: 30%;
    right: 45%;
  }
  .tick1-success:before {
    width: 2px;
    bottom: 25%;
    top: 20%;
    left: 55%;
  }
  .pricing-body .plan__head p {
    color: #122052;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .plan_sub_text{
    font-size: 12px;
  }
  .plan_price_text{
    font-size: 11px;
    text-align: right;
  }
  .plan-head{
    font-weight: 600;
  }
  .plan-head,.plan_price{
    color: #122052;
    font-size: 18px;
  }
  .plan_price i{
    font-size: 15px;
  }
  
  .plan_circle{
    width: 20px;
    height: 20px;
    border: 0.2px solid lightgrey;
    border-radius: 50%;
  }
  .circle{
    padding-right: 9px;
  }
  .plan_cards .card:hover .plan_circle{
   background: #122052;
  }
  .plan_cards .card:hover{
    border:1px solid #122052;
    /* background: #f0ecfc; */
    box-shadow: 0px 0px 5px -1px grey;
  }
  .plan-context p{
    color: #122052;
    font-size: 14px;
  }
  .tick2 {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 18px;
    top: 3px;
  }

  .tick2:before,
  .tick2:after {
    background: #122052;
    position: absolute;
    content: " ";
    left: 30%;
    right: 30%;
    top: 50%;
    height: 2px;
    bottom: auto;
  }

  .tick2-success {
    transform: rotate(45deg);
  }

  .tick2-success:after {
    bottom: 25%;
    right: 45%;
    top: auto;
  }

  .tick2-success:before {
    width: 2px;
    height: auto;
    bottom: 25%;
    top: 20%;
    left: 55%;
  }
  .subscribe-submit {
    background: #122052;
    border-radius: 6px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    max-width: 87%;
  }
}